---
title: "Mind map example"
date: 2021-02-12T14:06:49+01:00
draft: true
weight: 5
---
<svg id="mindmap" style="width: 800px;height: 800px;"></svg>
<script src="https://cdn.jsdelivr.net/npm/d3@6.3.1"></script><script src="https://cdn.jsdelivr.net/npm/markmap-view@0.2.2"></script><script>((e,t,r)=>{const{Markmap:n}=e();window.mm=n.create("svg#mindmap",null==t?void 0:t(),r)})(()=>window.markmap,t=>{return t=t||window.d3,{color:(n=t.scaleOrdinal(t.schemeCategory10),t=>n(t.p.i))};var n},{"t":"heading","d":1,"p":{},"v":"markmap","c":[{"t":"heading","d":2,"p":{},"v":"Links","c":[{"t":"list_item","d":4,"p":{},"v":"<a href=\"https://markmap.js.org/\">https://markmap.js.org/</a>"},{"t":"list_item","d":4,"p":{},"v":"<a href=\"https://github.com/gera2ld/markmap\">GitHub</a>"}]},{"t":"heading","d":2,"p":{},"v":"Related","c":[{"t":"list_item","d":4,"p":{},"v":"<a href=\"https://github.com/gera2ld/coc-markmap\">coc-markmap</a>"},{"t":"list_item","d":4,"p":{},"v":"<a href=\"https://github.com/gera2ld/gatsby-remark-markmap\">gatsby-remark-markmap</a>"}]},{"t":"heading","d":2,"p":{},"v":"Features","c":[{"t":"list_item","d":4,"p":{},"v":"links"},{"t":"list_item","d":4,"p":{},"v":"<strong>inline</strong> <del>text</del> <em>styles</em>"},{"t":"list_item","d":4,"p":{},"v":"multiline<br>\ntext"},{"t":"list_item","d":4,"p":{},"v":"<code>inline code</code>"},{"t":"list_item","d":4,"p":{},"v":"<pre class=\"language-js\"><code class=\"language-js\">console<span class=\"token punctuation\">.</span><span class=\"token function\">log</span><span class=\"token punctuation\">(</span><span class=\"token string\">'code block'</span><span class=\"token punctuation\">)</span><span class=\"token punctuation\">;</span>\n</code></pre>\n"}]}]})</script>



